<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>YgoProFrPatcher</string>
	<key>CFBundleIdentifier</key>
	<string>com.diypiandco.YgoProFrPatcher</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>${AuthorCopyright:HtmlEncode}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>Yes</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>Custom Property</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Ressources/Ubuntu-R.ttf</string>
	</array>
</dict>
</plist>
