<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.25.0" targetFramework="xamarinmac20" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.210" targetFramework="xamarinmac20" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0-preview3.19128.7" targetFramework="xamarinmac20" />
  <package id="MvvmCross" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Forms" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.File" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Json" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.JsonLocalization" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Messenger" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Network" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.ResourceLoader" version="6.3.0-alpha.385" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.2-beta1" targetFramework="xamarinmac20" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0-preview3.19128.7" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview3.19128.7" targetFramework="xamarinmac20" />
  <package id="System.Text.Encoding.CodePages" version="4.6.0-preview3.19128.7" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.0.0.304370-pre8" targetFramework="xamarinmac20" />
  <package id="Xamarin.Plugin.FilePicker" version="2.1.14-beta" targetFramework="xamarinmac20" />
</packages>